.slider{
	position: relative;
	margin: 0 auto;
	width: 400px;
	padding: 0 30px;
	box-shadow: 0 0 100px rgba(128, 128, 128, 0.3);
	background-color: rgba(128, 128, 128, 0.1);
	border-radius: 130px;
	overflow: hidden;
}
.gal-wrapper{
	width: 3600px;
	font-size: 0;
	line-height: 0;
	letter-spacing: 0;
}
.gal-wrapper img{
	width: 400px;
	max-height: 600px;
	vertical-align: middle;
	border-radius: 40px;
}
.gal{
	width: 400px;
	overflow: hidden;
}
#prev-btn, #next-btn{
    position: absolute;
    top: 20%;
	z-index: 1;
	height: 60%;
	width: 30px;
	cursor: pointer;
}
#prev-btn{
    left: 0;
    background: url(../bt/left-arrow.png) 11px 45% no-repeat;
    border-radius: 50% 0  0 50%;
}
#next-btn{
    right: 0;
    background: url(../bt/right-arrow.png) 13px 45% no-repeat;
    border-radius:  0 50% 50% 0;
}
#prev-btn:hover, #next-btn:hover{
	background-color: rgba(255,255,255,0.5); 
}